*.class
.classpath
.project
.settings/
target/
tl/target/
*fragment_graph*.txt
*fragment_graph*.xml
tl/src/test/resources/Lucene_index

# Package Files #
*.jar
*.war
*.ear

.DS_Store
bin/*

#common/bin/
#lap/bin/
uima.log

